Task1
Task2
Task3
Task4
Task5
Task6
Task7
Task8
Task9
Task10
Task11
Task12
Task13
Task14
snapshot_log.txt
thread_cancel
background_writer
cleanup_duble
program1
program2

# Игнорируем все объектные файлы .o
*.o
